<div class="d-flex justify-content-center mb-3" data-message-id="{{ message.messageId }}">
    <div class="px-3 py-2 rounded-3 border d-inline-flex align-items-center text-body-secondary" style="font-size: 0.85rem; background-color: #fff3cd; border-color: #ffecb5 !important;">
        <i class="bi bi-exclamation-circle me-2"></i>
        <span>{{ message.systemTranslationKey|trans }}</span>
    </div>
</div>
