includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - src
        - bin
        - tests
        - config
    scanDirectories:
        - var/cache/dev/Symfony
    scanFiles:
        - vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php
    excludePaths:
        - tests/bootstrap.php
        - tests/object-manager.php
        - config/reference.php
    symfony:
        containerXmlPath: var/cache/dev/SpeedPuzzling_Web_SymfonyApplicationKernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    checkUninitializedProperties: true
