<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" colors="true"
         bootstrap="tests/bootstrap.php" cacheDirectory=".phpunit.cache">
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="PANTHER_APP_ENV" value="test" force="true"/>
        <server name="PANTHER_ERROR_SCREENSHOT_DIR" value="./var/panther-screenshots"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
            <exclude>tests/Panther</exclude>
        </testsuite>
        <testsuite name="Panther Test Suite">
            <directory>tests/Panther</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <!-- DAMA only works for unit/functional tests, not Panther E2E tests (separate DB connection) -->
        <bootstrap class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension">
            <parameter name="excludeTestSuites" value="Panther Test Suite"/>
        </bootstrap>

        <!-- Panther database isolation - creates unique DB per test from template -->
        <bootstrap class="SpeedPuzzling\Web\Tests\Panther\Extension\PantherDatabaseExtension"/>
    </extensions>
</phpunit>
