{% trans_default_domain 'emails' %}
<row>
    <columns>
        <p>{{ 'content_digest.weekly.no_activity_line_1'|trans }}</p>
        <p>{{ 'content_digest.weekly.no_activity_line_2'|trans }}</p>
    </columns>
</row>
