//
// Input group
// --------------------------------------------------


// Absolutely positioned addons
.input-group .position-absolute {
  z-index: 5;
  & + .form-control,
  & + .password-toggle .form-control {
    padding-left: 2.5rem;
  }
}

// Fix height alignment in small input groups
.input-group-sm > .input-group-text {
  padding: .25rem .5rem;
}
