// the ~ allows you to reference things in node_modules

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.stopwatch {
    font-size: 30px;
    font-variant-numeric: tabular-nums;

    .countdown-value {
        font-size: 54px;
        color: #000;
        font-weight: 500;

        @media (min-width: 768px) {
            font-size: 80px;
        }

        @media (min-width: 1200px) {
            font-size: 100px;
        }
    }

    .countdown-label {
        font-size: 24px;

        @media (min-width: 768px) {
            font-size: 30px;
        }

        @media (min-width: 1200px) {
            font-size: 36px;
        }
    }
}

.stopwatch-image {
    width: 100%;
    max-width: 400px;
}

.navbar {
    padding: 2px 0;
}

.badge.bg-dark.badge-shadow.rounded-pill {
    background: #aaa !important;
}

.gallery-item.gallery-item-inline-block {
    display: inline-block !important;
    border: 0 !important;

    > img {
        width: auto !important;
    }
}

.form-label.required, h3.required {
    &::after {
        content: ' * Required';
        color: #DD4A68;
        font-size: 11px;
        font-weight: bold;
        padding-left: 4px;
    }
}

.lang-cs {
    .form-label.required, h3.required {
        &::after {
            content: ' * Povinné';
        }
    }
}

#add-puzzle-form, #add-puzzle-chosen {
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: all .5s ease;

    &.hidden {
        height: 0;
        visibility: hidden;
        opacity: 0;
    }
}

#add-puzzle-chosen {
    .checkbox-wrapper {
        display: none !important;
    }

    .form-check {
        padding-left: 0 !important;
    }
}

#add-puzzler {
    &.hidden {
        display: none;
    }
}

#puzzler-input-template {
    display: none;
}

.custom-table-wrapper {
    border-radius: 8px 8px 0 0;
    box-shadow: rgba(0, 0, 0, .21) 0 0 25px 0;

    .table {
        border: 1px solid #ddd;

        thead {
            tr {
                th {
                    background: #fe696a;
                    color: #fff !important;

                    border-bottom: 0;

                    a {
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            }
        }

        a {
            color: #777;
        }

        .puzzle-title {
            line-height: 110%;
            display: inline-block;
        }
    }
}

.filter-no-results {
    &.hidden {
        display: none;
    }
}

#manufacturer-name-row.hidden {
    display: none;
}

.table-active-player {
    --cz-table-color: #000;
    --cz-table-bg: #f0ecfb;
    --cz-table-border-color: #d4e2dd;
    --cz-table-striped-bg: #f8ecfb;
    --cz-table-striped-color: #000;
    --cz-table-active-bg: #f6e5fc;
    --cz-table-active-color: #000;
    --cz-table-hover-bg: #f6e5fc;
    --cz-table-hover-color: #000;
    color: var(--cz-table-color);
    border-color: var(--cz-table-border-color);

    .rank, .player-name {
        font-weight: bold;
    }
}

.show-more-times.hidden,
.more-times.hidden {
    display: none;
}

.shadow-custom {
    box-shadow: rgba(0, 0, 0, .21) 0 0 25px 0;
    //border: 1px solid #ddd;
}

.player-name a {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .input-group.puzzle-filter {
        display: block;
        box-shadow: none !important;
    }

    .input-group.puzzle-filter .form-control,
    .input-group.puzzle-filter .form-select {
        display: block;
        width: 100%;
        border-radius: 5px !important;
        margin-top: 5px;
    }
}

.player-name {
    line-height: 175%;
}

.player-name-item {
    line-height: 125%;
    display: inline-block;
}

.icon-with-text {
    position: relative;
    display: inline-block;
}

.icon-with-text i {
    font-size: 50px;
}

.icon-with-text span {
    position: absolute;
    top: 50%;  /* Adjust text position */
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-switch .form-check {
    padding-left: 0;
}

.btn-xs {
    font-size: 12px;
    padding: 4px 8px;
}

.file-drop-area:has(.is-invalid) {
    border-color: #f34770 !important;
}
