// the ~ allows you to reference things in node_modules

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.stopwatch {
    font-size: 30px;

    .countdown-value {
        font-size: 54px;
        color: #000;
        font-weight: 500;

        @media (min-width: 768px) {
            font-size: 80px;
        }

        @media (min-width: 1200px) {
            font-size: 100px;
        }
    }

    .countdown-label {
        font-size: 24px;

        @media (min-width: 768px) {
            font-size: 30px;
        }

        @media (min-width: 1200px) {
            font-size: 36px;
        }
    }
}

.stopwatch-image {
    width: 100%;
    max-width: 400px;
}

.navbar {
    padding: 2px 0;
}

.badge.bg-dark.badge-shadow.rounded-pill {
    background: #aaa !important;
}

.gallery-item.gallery-item-inline-block {
    display: inline-block !important;
    border: 0 !important;

    > img {
        width: auto !important;
    }
}

.form-label.required, h3.required {
    &::after {
        content: ' * Povinné';
        color: #DD4A68;
        font-size: 11px;
        font-weight: bold;
        padding-left: 4px;
    }
}

#add-puzzle-form, #add-puzzle-chosen {
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: all .5s ease;

    &.hidden {
        height: 0;
        visibility: hidden;
        opacity: 0;
    }
}

#add-puzzle-chosen {
    .checkbox-wrapper {
        display: none !important;
    }

    .form-check {
        padding-left: 0 !important;
    }
}

#add-puzzler {
    &.hidden {
        display: none;
    }
}

#puzzler-input-template {
    display: none;
}

.custom-table-wrapper {
    border-radius: 8px 8px 0 0;
    box-shadow: rgba(0, 0, 0, .21) 0 0 25px 0;

    .table {
        border: 1px solid #ddd;

        thead {
            tr {
                th {
                    background: #fe696a;
                    color: #fff !important;

                    border-bottom: 0;

                    a {
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            }
        }

        a {
            color: #777;
        }

        .puzzle-title {
            line-height: 110%;
            display: inline-block;
        }
    }
}

.filter-no-results {
    &.hidden {
        display: none;
    }
}

#manufacturer-name-row.hidden {
    display: none;
}

.table-active-player {
    --cz-table-color: #000;
    --cz-table-bg: #f0ecfb;
    --cz-table-border-color: #d4e2dd;
    --cz-table-striped-bg: #f8ecfb;
    --cz-table-striped-color: #000;
    --cz-table-active-bg: #f6e5fc;
    --cz-table-active-color: #000;
    --cz-table-hover-bg: #f6e5fc;
    --cz-table-hover-color: #000;
    color: var(--cz-table-color);
    border-color: var(--cz-table-border-color);

    .rank, .player-name {
        font-weight: bold;
    }
}

.show-more-times.hidden,
.more-times.hidden {
    display: none;
}

.shadow-custom {
    box-shadow: rgba(0, 0, 0, .21) 0 0 25px 0;
    //border: 1px solid #ddd;
}

.datepicker-input-wrap,
.time-input-wrap {
    max-width: 150px;
}

.player-name a {
    text-decoration: underline;
}

.table-responsive {
    /* Ensures the element is scrollable */
    overflow-x: auto;

    /* Webkit browsers (like Safari and Chrome) */
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5); /* scrollbar color */
        box-shadow: 0 0 1px rgba(255, 255, 255, .5); /* scrollbar shadow */
    }

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, .5) transparent; /* scrollbar and background color */
}

/* For touch screen laptops */
@media (hover: none) {
    .table-responsive {
        scrollbar-width: auto;
        scrollbar-color: auto;
    }
}
