{# Close modal by clearing the frame #}
<turbo-stream action="update" target="modal-frame">
    <template></template>
</turbo-stream>

{# Remove the item from the sell-swap list #}
<turbo-stream action="remove" target="sellswap-list-item-{{ puzzle_id }}"></turbo-stream>

{# Show toast notification #}
<turbo-stream action="append" target="toast-container">
    <template>
        <div class="toast align-items-center text-bg-success border-0"
             data-controller="turbo-stream-toast"
             data-turbo-stream-toast-delay-value="3000">
            <div class="d-flex">
                <div class="toast-body">
                    {{ message }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </template>
</turbo-stream>
