{% extends 'base.html.twig' %}

{% block title %}{{ 'sell_swap_list.mark_reserved.title'|trans }}{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">{{ 'sell_swap_list.mark_reserved.title'|trans }}</h4>
                </div>
                <div class="card-body">
                    {{ include('sell-swap/_mark_reserved_form.html.twig', {in_modal: false}) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
