{% trans_default_domain 'emails' %}
<row>
    <columns>
        <table style="width: 100%;"><tr><td style="font-size: 0; line-height: 0; padding: 0; height: 16px;" height="16">&nbsp;</td></tr></table>
        <table style="width: 100%; border-collapse: collapse;">
            <tr>
                <td style="border-top: 2px solid #fe696a; font-size: 0; line-height: 0; height: 0; padding: 0;" height="0">&nbsp;</td>
            </tr>
        </table>
        <table style="width: 100%;"><tr><td style="font-size: 0; line-height: 0; padding: 0; height: 20px;" height="20">&nbsp;</td></tr></table>

        <p style="color: #7d879c; font-size: 13px; text-align: center; margin: 0; Margin: 0;">
            <small>{{ 'footer'|trans({'%homepageLink%': url('homepage') })|raw }}</small>
        </p>
        <table style="width: 100%;"><tr><td style="font-size: 0; line-height: 0; padding: 0; height: 16px;" height="16">&nbsp;</td></tr></table>
    </columns>
</row>
