{% trans_default_domain 'emails' %}
<row>
    <columns>
        <table style="width: 100%;"><tr><td style="font-size: 0; line-height: 0; padding: 0; height: 16px;" height="16">&nbsp;</td></tr></table>
        <center>
            <a href="{{ url('homepage') }}">
                <img src="https://myspeedpuzzling.com/img/speedpuzzling-logo.png" alt="MySpeedPuzzling.com" style="width: 80px; height: auto;" width="80" height="auto">
            </a>
        </center>
        <p style="color: #7d879c; font-size: 13px; text-align: center; margin: 4px 0 0 0; Margin: 4px 0 0 0;"><a href="{{ url('homepage') }}" style="color: #7d879c; text-decoration: none;">MySpeedPuzzling.com</a></p>
    </columns>
</row>

<row>
    <columns>
        <table style="width: 100%; border-collapse: collapse;">
            <tr>
                <td style="border-top: 2px solid #fe696a; font-size: 0; line-height: 0; height: 0; padding: 0;" height="0">&nbsp;</td>
            </tr>
        </table>
    </columns>
</row>
