{% trans_default_domain 'emails' %}
{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css')) %}
    <wrapper>
        <container>
            <row>
                <columns>
                    <h3>{{ 'membership_granted.title'|trans }}</h3>
                </columns>
            </row>

            <row>
                <columns>
                    {{ 'membership_granted.content'|trans({'%membershipExpiresAt%': membershipExpiresAt, '%membershipUrl%': url('membership')})|raw }}
                </columns>
            </row>

            {{ include('emails/_footer.html.twig') }}
        </container>
    </wrapper>
{% endapply %}
