{% apply inline_css(source('@styles/email.css')) %}
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
    </head>
    <body>
    <div class="body">
        <div class="newsletterContainer">
            <div class="text-center">
                <img src="{{ email.image('@images/speedpuzzling-logo.png') }}" class="logo" alt="MySpeedPuzzling.com Logo" width="80">

                <h1>Thank you for subscribing to the membership!</h1>

                <p>Thank you very much for your support and congratulations to become a MySpeedPuzzling member!</p>
                <p>Next billing period is: <b>{{ nextBillingPeriod }}</b></p>

                <p>
                    You can always manage your subscription, cancel, download receipts/invoices on the <a href="{{ url('membership') }}">membership page</a>.
                </p>
            </div>
        </div>
    </div>

    </body>
    </html>
{% endapply %}
