{% apply inline_css(source('@styles/email.css')) %}
    <html>
    <body>

    <div class="newsletterContainer">
        <div class="text-center">
            <img src="{{ email.image('@images/speedpuzzling-logo.png') }}" class="logo" alt="Logo">

            <h1 class="newsletter">You have been granted with a membership!</h1>

            <p>We appreciate you, so you have been granted with a membership!</p>
            <p>The membership will expire at: <strong>{{ membershipExpiresAt }}</strong></p>

            <p>
                You can always manage your membership on the <a href="{{ url('membership') }}">membership page</a>.
            </p>
        </div>
    </div>

    </body>
    </html>
{% endapply %}
