{% trans_default_domain 'emails' %}
{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css')) %}
    <wrapper>
        <container>
            <row>
                <columns>
                    <spacer size-sm="10"></spacer>
                    <h3>{{ 'subscription_payment_failed.title'|trans }}</h3>
                </columns>
            </row>

            <row>
                <columns>
                    {{ 'subscription_payment_failed.content'|trans({'%billingPortalUrl%': url('billing_portal')})|raw }}
                </columns>
            </row>

            {{ include('emails/_footer.html.twig') }}
        </container>
    </wrapper>
{% endapply %}
