<turbo-frame id="feedbackForm">
    <div class="alert alert-success d-flex" role="alert">
        <div class="alert-icon">
            <i class="ci-check-circle"></i>
        </div>
        <div>{{ 'feedback.success_msg'|trans }}</div>
    </div>
</turbo-frame>
