{% if puzzle_collections is not empty %}
    <h3 class="mt-4">{{ 'collection.title'|trans }}</h3>

    <div class="row g-2 g-md-3">
        {% for puzzle_collection in puzzle_collections %}
            {{ include('_puzzle_item.html.twig', {
                'puzzle': puzzle_collection,
                'puzzles_solved_by_user': [],
                'search': null,
            }) }}
        {% endfor %}
    </div>
{% endif %}
