{% extends 'base.html.twig' %}

{% block title %}Přidat čas{% endblock %}

{% block content %}
    <h1>Přidat čas</h1>

    {{ include('_solving_time_form.html.twig', {
        prevent_puzzle_change: active_stopwatch is not null,
    }) }}

{% endblock %}
