{% extends 'base.html.twig' %}

{% block title %}Přidat čas{% endblock %}

{% block content %}
    <h1>Zadat čas</h1>

    {{ form_start(add_puzzle_solving_time_form) }}
        {{ form_widget(add_puzzle_solving_time_form) }}

        <input type="submit" name="submit" value="Uložit" class="btn btn-primary" />

    {{ form_end(add_puzzle_solving_time_form) }}
{% endblock %}
