{% extends 'base.html.twig' %}

{% block title %}{{ 'add_time.meta.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'add_time.title'|trans }}</h1>

    {{ include('_solving_time_form.html.twig', {
        show_add_hint: true,
    }) }}

{% endblock %}
