{% extends 'base.html.twig' %}

{% block title %}{{ 'blog.outage-2025-02-17.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'blog.outage-2025-02-17.title'|trans }}</h1>

    {{ 'blog.outage-2025-02-17.content'|trans|raw }}

{% endblock %}
