{% extends 'base.html.twig' %}

{% block title %}{{ 'changelog.meta.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'changelog.title'|trans }}</h1>

    {{ 'changelog.intro_block'|trans|raw }}

    {{ include('_changelog.html.twig', {changelog: daily_changes}) }}
{% endblock %}
