{% extends 'base.html.twig' %}

{% block title %}Novinky na platformě{% endblock %}

{% block content %}
    <h1>Co je nového na SpeedPuzzling.cz</h1>

    <p>Máme rádi puzzle a baví nás tvořit tuto platformu pro ostatní puzzlery. Proto sdílíme veřejně s radostí, co nového umí platforma speedpuzzling.cz!</p>

    <p>Protože veškeré naše zdrojové kódy jsou open-source a veřejné na <a href="https://github.com/SpeedPuzzling">GitHubu SpeedPuzzling</a>, tak pokud vás zajímá jak to vypadá pod kapotou, můžete sledovat i <a href="https://github.com/SpeedPuzzling/speedpuzzling.cz/commits/main/" target="_blank">konkrétní změny v kódu</a>.</p>

    <h4>29.12.</h4>
    <ul>
        <li>Porovnávání časů mezi puzzlery</li>
        <li>Drobná grafická vylepšení</li>
        <li>Nový žebříček - SOLO 1000 dílků</li>
        <li>Poslední přidané časy - možnost zobrazit více</li>
        <li>Poslední přidané časy - přidáno zobrazení všech skládajících ve skupině</li>
        <li>Poslední přidané časy - zvýraznění sama sebe</li>
    </ul>

    <h4>28.12.</h4>
    <ul>
        <li>Migrace na nový server - děkujeme za poskytnutí <a href="https://omnicado.com" target="_blank">Omnicado.com</a>!</li>
        <li>Technická vylepšení - bugfixy a optimalizace výkonu</li>
        <li>Detail puzzlí - Přidáno identifikační číslo puzzlí</li>
    </ul>

    <h4>27.12.</h4>
    <ul>
        <li>Žebříček - Možnost zobrazit si 100 nejrychlejších složení 500 dílkových puzzlí</li>
        <li>Časté dotazy - přidány další dotazy a odpovědi</li>
        <li>Přidání puzzlí - Možnost zadat EAN a kód puzzlí</li>
        <li>
            Přidání času - Možnost zadat datum doskládání
            <br><small>Může se hodit, pokud zadáváte časy z dřívějšího skládání.</small>
        </li>
    </ul>

    <h4>26.12.</h4>
    <ul>
        <li>Nová sekce - Časté dotazy</li>
        <li>
            Můj profil - Zobrazení vlastní fotky poskládáných puzzlí
            <br><small>Ctíme soukromí a tuto fotku nikdo jiný kromě vás samotných nezobrazí, pokud mu na ni nepošlete vy sami přímý odkaz.</small>
        </li>
        <li>
            Nová sekce - Co je nového<br>
            <small>Od této chvíle, budeme veřejně psát každou novinku týkající se aplikace speedpuzzling.cz :-).</small>
        </li>
    </ul>
{% endblock %}
