{% extends 'base.html.twig' %}

{% block title %}Novinky na platformě{% endblock %}

{% block content %}
    <h1>Co je nového na SpeedPuzzling.cz</h1>

    <p>Máme rádi puzzle a baví nás tvořit tuto platformu pro ostatní puzzlery. Proto sdílíme veřejně s radostí, co nového umí platforma speedpuzzling.cz!</p>

    <h4>27.12</h4>
    <ul>
        <li>Přidání puzzlí - Možnost zadat EAN a kód puzzlí</li>
        <li>
            Přidání času - Možnost zadat datum doskládání
            <br><small>Může se hodit, pokud zadáváte časy z dřívějšího skládání.</small>
        </li>
    </ul>

    <h4>26.12</h4>
    <ul>
        <li>Nová sekce - Časté dotazy</li>
        <li>
            Můj profil - Zobrazení vlastní fotky poskládáných puzzlí
            <br><small>Ctíme soukromí a tuto fotku nikdo jiný kromě vás samotných nezobrazí, pokud mu na ni nepošlete vy sami přímý odkaz.</small>
        </li>
        <li>
            Nová sekce - Co je nového<br>
            <small>Od této chvíle, budeme veřejně psát každou novinku týkající se aplikace speedpuzzling.cz :-).</small>
        </li>
    </ul>
{% endblock %}
