{% extends 'base.html.twig' %}

{% block title %}Úprava profilu{% endblock %}

{% block content %}
    <h1>Úprava profilu</h1>

    {{ form_start(edit_profile_form) }}
        {{ form_widget(edit_profile_form) }}

        <input type="submit" name="submit" value="Uložit" class="btn btn-primary" />

    {{ form_end(edit_profile_form) }}
{% endblock %}
