{% extends 'base.html.twig' %}

{% block title %}Časté dotazy{% endblock %}

{% block content %}
    <h1>Časté dotazy</h1>

    <p>Zpětná vazba je pro nás velmi důležitá a moc si jí vážíme! Pokud máte cokoliv, co byste nám rádi sdělili, napište nám prosím na <a href="mailto:simona@speedpuzzling.cz">simona@speedpuzzling.cz</a> (případně na <a href="mailto:j.mikes@me.com">j.mikes@me.com</a> ohledně technickým záležitostí) nebo na <a href="https://www.facebook.com/groups/1997202984012397" target="_blank">Facebooku</a>.</p>

    <p>Veškeré naše zdrojové kódy jsou open-source a veřejné na <a href="https://github.com/SpeedPuzzling">GitHubu SpeedPuzzling</a>. Zastáváme filizofii &quot;sharing is caring&quot; a vše ohledně speedpuzzling.cz se snažíme otevřeně sdílet.</p>

    <!--
    <h4>Co je to speed puzzling?</h4>
    <p>odpověď</p>

    <h4>Jak přidat nové puzzle?</h4>
    <p>odpověď</p>

    <h4>Proč vznikla platforma speedpuzzling.cz?</h4>
    <p>odpověď</p>

    <h4>Jak správně stopovat čas?</h4>
    <p>odpověď</p>

    <h4>Jak se počítají statistiky?</h4>
    <p>odpověď</p>
    -->

    <div class="shadow-lg p-4 mt-4">
        <h4 class="mb-3">Jak se dozvíte, že při zadávání času nepodvádím?</h4>
        <p>Upřímně řečeno - pravděpodobně nedozvíme. U veřejného žebříčku, kde si puzzleři zadávají časy sami, se spoléháme na čestnost a poctivost každého jednotlivého puzzlaře. Měli byste snad radost z nepoctivého podvodně zadaného výsledku?</p>
        <p>Předpokládáme, že stejně jako my, i ostatní puzzleři skládají především pro radost a časy z tohoto typu skládání jsou orientační pro představu, jak si stojíme v porovnání s ostatními a naostro si změříme síly během nějaké soutěže. Řekněte sami, nevypadalo by podezřele, pokud na platformě budu mít čas 20 minut ale během soutěže složím puzzle za 3 hodiny?</p>
        <p>Do budoucna plánujeme také hodnocené ligy, kde bude vyžadováno ověření času například pomocí videozáznamu.</p>
        <p class="text-danger mb-0"><small>Protože jsou v naší komunitě i finalisté World Jigsaw Championship, kteří se umístili na předních příčkách, můžeme jejich časy brát jako referenční. Podezřelé časy, budeme sledovat a pokud se prokáže podvod, tak bez milosti také mazat. Při opakovaném podvádění bude hráči přístup na platformu omezen.</small></p>
    </div>

    <div class="shadow-lg p-4 mt-4">
        <h4 class="mb-3">Dostaly se ke mě puzzle s QR kódem a logem speedpuzzling.cz, co s tím?</h4>
        <p>Abychom vám skládání a zadávání časů co nejvíce zpříjemnili, na všechny puzzle které nám projdou pod rukou přidáváme QR kód - po naskenování se dostanete na stránku s danými puzzlemi, kde můžete pomocí tlačítek rovnou začít stopovat a nebo zadat váš čas.</p>
        <p class="mb-0">Pokud byste nám chtěli pomoci šířit osvětu ohledně speedpuzzlingu a do svých puzzlí přidat letáček s QR kódem, prosím napište nám - pošleme vám PDF které si můžete vytisknout, případně pošleme poštou přímo vytištěné letáčky.</p>
    </div>

    <div class="shadow-lg p-4 mt-4">
        <h4 class="mb-3">Můžu přidat čas i k puzzlím, které na platformě nejsou?</h4>
        <p>Rozhodně! Pokud jste skládali puzzle, které u nás na platformě ještě nejsou, při přidávání času překlikněte na možnost:</p>

        <div class="form-check form-switch mb-3">
            <input type="checkbox" class="form-check-input" id="switch-add-puzzle">
            <label class="form-check-label" for="switch-add-puzzle">Zadat puzzle ručně - neznám výrobce nebo nejsou v seznamu</label>
        </div>

        <p class="mb-0">Následně máte možnost vybrat ze seznamu výrobců. Pokud ani výrobce není v databázi, můžete opět zadat sami.</p>
    </div>

    <div class="shadow-lg p-4 mt-4">
        <h4 class="mb-3">Jak upravím nebo smažu zadaný čas?</h4>
        <p>V sekci <a href="{{ path('my_profile') }}">Můj profil</a> u každého zadaného času najdete odkaz na editaci (odkaz má podobu ikonky tužky <span class="btn btn-sm btn-outline-dark px-2 py-1 border-0"><i class="ci-edit"></i></span>).</p>
        <p class="mb-0">Na stránce s editací je úplně dole <button class="btn btn-sm btn-outline-danger">kouzelné tlačítko</button> jenž záznam jednou a provždy smaže z celého internetu.</p>
    </div>

    <div class="shadow-lg p-4 mt-4">
        <h4 class="mb-3">Co dělá tlačítko <button class="btn btn-accent btn-sm me-1"><i class="ci-time"></i> Začít skládat</button>?</h4>
        <p class="mb-0">Otevře stopky s vybranými puzzlemi - můžete rovnou začít skládat a stopovat čas.</p>
    </div>

    <div class="shadow-lg p-4 mt-4">
        <h4 class="mb-3">Co dělá tlačítko <button class="btn btn-accent btn-sm me-1"><i class="ci-add"></i> Přidat můj čas</button>?</h4>
        <p class="mb-0">Otevře přidání vašeho času k vybraným puzzlím - vhodné pokud používáte vlastní stopky a právě jste doskládali. Pokud jste doskládali v minulosti a chcete zaznamenat čas, máte možnost uvést i datum, kdy jste skládali.</p>
    </div>

    <div class="shadow-lg p-4 mt-4">
        <h4 class="mb-3">Jak si půjčím puzzle?</h4>
        <p>Momentálně nabízím svou vlastní sbírku puzzlí - pouze za poštovné, případně za symbolický poplatek, výměnou za to, že přidáte čas skládání a tím podpoříte růst speed puzzling komunity!</p>
        <p>Puzzle, která mám aktuálně k půjčení jsou označeny vždy v přehledu puzzlí jsou vždy označeny jako <span class="badge bg-success badge-shadow rounded-pill">k zapůjčení</span>. Pokud puzzle nemám, nebo je v tuto chvíli má někdo vypůjčené, jsou označeny jako <span class="badge bg-dark badge-shadow rounded-pill">nejsou k dispozici</span>.</p>
        <p>Pokud máte zájem si jakékoliv puzzle půjčit (doporučuji více najednou :-)), prosím napište mi a domluvíme se.</p>
        <p class="mb-0">Do budoucna máme v plánu přímo na platformě umožnit každému uživateli zveřejnit vlastní sbírku puzzlí a nabídnout příležitost propojit puzzlery mezi sebou napřímo.</p>
    </div>

    <div class="shadow-lg p-4 mt-4">
        <h4 class="mb-3">Můžu přiložit ruku k dílu?</h4>
        <p class="mb-0">Jasně! Spojte se s námi, ideálně s představou, jak byste se rádi do budování speed puzzling komunity zapojili, dáme hlavy dohromady a určitě něco vymyslíme.</p>
    </div>
{% endblock %}
