{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>SpeedPuzzling.cz</h1>
    <h2>Rychlostní skládání pro moderního puzzle nadšence</h2>

    <p>Vítejte ve světě speedpuzzlingu! Toto není obyčejné skládání puzzle, jaké znáte z deštivých nedělí. Speedpuzzling je adrenalinová výzva, kde se skládání stává rychlostním sportem. Účastníci se zde snaží složit puzzle co nejrychleji, ať už jde o osobní rekord nebo o souboj s ostatními skládači. Je to perfektní kombinace strategie, rychlosti a dovednosti. Pokud máte zájem o nový způsob, jak oživit svou vášeň pro puzzle, speedpuzzling je přesně pro vás!</p>

    <p><small>Pro více informací o tom, co si pro vás chystáme, mi neváhejte napsat mail na <a href="mailto:simona@speedpuzzling.cz">simona@speedpuzzling.cz</a>.</small></p>
{% endblock %}
