{% extends 'base.html.twig' %}

{% block title %}
    {% set currentLadder = app.request.attributes.get('_route') %}

    {% if currentLadder == 'ladder_solo_500_pieces' %}
        Žebříček - Jednotlivci - 500 dílků
    {% elseif currentLadder == 'ladder_solo_1000_pieces' %}
        Žebříček - Jednotlivci - 1000 dílků
    {% elseif currentLadder == 'ladder_pairs_500_pieces' %}
        Žebříček - Páry - 500 dílků
    {% elseif currentLadder == 'ladder_pairs_1000_pieces' %}
        Žebříček - Páry - 1000 dílků
    {% elseif currentLadder == 'ladder_groups_500_pieces' %}
        Žebříček - Skupiny - 500 dílků
    {% elseif currentLadder == 'ladder_groups_1000_pieces' %}
        Žebříček - Skupiny - 1000 dílků
    {% endif %}
{% endblock %}

{% block content %}
    {% set currentLadder = app.request.attributes.get('_route') %}

    <h1 class="mb-4">Žebříček <span class="h3"><span class="ms-2 badge bg-primary rounded-pill badge-shadow">Top 100</span></span></h1>

    {{ include('_ladder_dropdown.html.twig') }}

    {{ include('_ladder.html.twig', {
        puzzle_solving_times: solved_puzzle_times
    }) }}
{% endblock %}
