{% extends 'base.html.twig' %}

{% block title %}Žebříček puzzlerů - {{ pieces_count}} dílků{% endblock %}

{% block content %}
    <h1>Žebříček puzzlerů - {{ pieces_count}} dílků</h1>

    {{ include('_ladder.html.twig', {
        puzzle_solving_times: solved_puzzle_times
    }) }}
{% endblock %}
