{% extends 'base.html.twig' %}

{% block title %}{{ 'privacy_policy.meta.title'|trans }}{% endblock %}
{% block meta_description %}{{ 'privacy_policy.meta.description'|trans }}{% endblock %}

{% block content %}
    <section class="terms-of-service">

        {{ 'privacy_policy.content'|trans|raw }}
    </section>
{% endblock %}
