{% extends 'base.html.twig' %}

{% block title %}Skládání puzzlí{% endblock %}

{% block content %}
    <h1>Skládání puzzlí se speedpuzzling.cz</h1>

    <p>Puzzle vám půjčíme. Pošleme poštou a až doskládáte, pošlete nám je zpátky. Pokud se vám puzzle zalíbí, můžete puzzle odkoupit.</p>
    <p>Pro větší zážitek ze skládání puzzlí, velmi doporučujeme půjčit si několik puzzlí najednou.</p>
    <p>Pošlete mi na <a href="mailto:simona@speedpuzzling.cz">simona@speedpuzzling.cz</a> seznam puzzlí, které si přejete půjčit/zakoupit a domluvíme se individuálně na podmínkách.</p>
{% endblock %}
