{% extends 'base.html.twig' %}

{% block title %}{{ 'ladder.recent_activity'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'ladder.recent_activity'|trans }}</h1>

    <twig:RecentActivity limit="100" />
{% endblock %}
