{% extends 'base.html.twig' %}

{% block title %}{{ 'ladder.recent_activity'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'ladder.recent_activity'|trans }}</h1>

    {{ include('_recent_activity.html.twig', {
        solved_puzzles: last_solved_puzzles,
    }) }}
{% endblock %}
