{% extends 'base.html.twig' %}

{% block title %}{{ 'recent_activity.meta.title'|trans }}{% endblock %}
{% block meta_description %}{{ 'recent_activity.meta.description'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'recent_activity.meta.title'|trans }}</h1>

    <twig:RecentActivity limit="100" />
{% endblock %}
