{% extends 'base.html.twig' %}

{% block title %}Stopky{% endblock %}

{% block content %}
    <h1>Stopky</h1>

    <div class="container pb-4">
        <div class="row align-items-center justify-content-center gy-3 pb-3 text-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="stopwatch countdown justify-content-center">
                    <div class="countdown-hours rounded p-1 p-sm-2 p-lg-2">
                        <span class="countdown-value">0</span>
                        <span class="countdown-label text-muted">h</span>
                    </div>
                    <div class="countdown-minutes rounded p-1 p-sm-2 p-lg-2">
                        <span class="countdown-value">0</span>
                        <span class="countdown-label text-muted">m</span>
                    </div>
                    <div class="countdown-seconds rounded p-1 p-sm-2 p-lg-2">
                        <span class="countdown-value">0</span>
                        <span class="countdown-label text-muted">s</span>
                    </div>
                </div>

                <button type="button" class="btn btn-success btn-lg">Start</button>

                <div class="mt-4">
                    <button type="button" class="btn btn-sm btn-outline-danger">Vynulovat</button>

                    <button type="button" class="btn btn-sm btn-outline-success">Doskládáno?</button>
                </div>

                <div class="card border-0 shadow mt-4" style="max-width: 400px;margin-left: auto;margin-right: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Co skládáš?</h5>
                        <p class="card-text fs-sm text-muted">Vyber z puzzlí, které už známe nebo si zaznamenej výrobce, počet dílků, název a klidně i fotku!</p>
                        <a href="#" class="btn btn-sm btn-outline-accent">Jasně, že skládám puzzle</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="px-2">
                    <img class="stopwatch-image" src="{{ asset('img/stopwatch.png') }}" alt="SpeedPuzzling Stopwatch">
                </div>
            </div>
        </div>
    </div>





{% endblock %}
