{% extends 'base.html.twig' %}

{% block title %}Terms of service{% endblock %}

{% block content %}
    <section class="terms-of-service">

        {{ 'terms_of_service.content'|trans({ '%privacyPolicyLink%': path('privacy_policy') })|raw }}
    </section>
{% endblock %}
