{% extends 'base.html.twig' %}

{% block title %}Terms of service{% endblock %}

{% block content %}
    <h1>Terms of service</h1>

    <div class="alert alert-primary d-flex" role="alert">
        <div class="alert-icon">
            <i class="ci-bell"></i>
        </div>
        <div>Tato stránka nefunguje! Jde o prototyp toho, jak bude brzy vypadat a fungovat. Děkujeme za trpělivost!</div>
    </div>
{% endblock %}
