{% extends 'base.html.twig' %}

{% block title %}{{ 'terms_of_service.meta.title'|trans }}{% endblock %}
{% block meta_description %}{{ 'terms_of_service.meta.description'|trans }}{% endblock %}

{% block content %}
    <section class="terms-of-service">

        {{ 'terms_of_service.content'|trans({ '%privacyPolicyLink%': path('privacy_policy') })|raw }}
    </section>
{% endblock %}
