{# Close modal by clearing the frame #}
<turbo-stream action="update" target="modal-frame">
    <template></template>
</turbo-stream>

{# Update the holder info without removing the item #}
<turbo-stream action="replace" target="lent-holder-{{ puzzle_id }}">
    <template>
        <span id="lent-holder-{{ puzzle_id }}" class="badge bg-purple">
            <i class="bi bi-person me-1"></i>{{ 'lend_borrow.lent_to'|trans({'%name%': new_holder_name}) }}
        </span>
    </template>
</turbo-stream>

{# Toast notification #}
<turbo-stream action="append" target="toast-container">
    <template>
        <div class="toast align-items-center text-bg-success border-0"
             data-controller="turbo-stream-toast"
             data-turbo-stream-toast-delay-value="3000">
            <div class="d-flex">
                <div class="toast-body">{{ message }}</div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </template>
</turbo-stream>
