<turbo-frame id="modal-frame">
    <div class="modal-header">
        <h5 class="modal-title">{{ 'lend_borrow.borrow.title'|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        {{ component('BorrowPuzzleForm', {puzzleId: puzzle.puzzleId}) }}
    </div>
</turbo-frame>
