{% if errors is defined and errors|length > 0 %}
    <div class="invalid-feedback d-block">
        {% for error in errors %}
            {{ error.message }}
        {% endfor %}
    </div>
{% endif %}