<div {{ attributes }}>
    <button class="{{ this.buttonClass }}"
            data-action="live#action"
            data-live-action-param="remove"
            data-loading-text="{{ 'forms.removing'|trans }}">
        <i class="bi bi-trash me-1"></i> {{ 'sell_swap_list.remove.button'|trans }}
    </button>
</div>
