<div {{ attributes }}>
    {% if this.isLoggedIn %}
        <button type="button" 
                class="{{ this.buttonClass }}"
                data-action="live#action"
                data-live-action-param="remove">
            {% block text %}
                <i class="ci-bookmark-minus me-1"></i> {{ 'collections.remove_from'|trans({'%collection%': this.collectionName}) }}
            {% endblock %}
        </button>
    {% endif %}
</div>
