<div {{ attributes }}>
    <button
        type="button"
        class="btn btn-outline-success btn-sm"
        data-action="live#action"
        data-live-action-param="returnPuzzle"
        data-loading-text="{{ 'forms.saving'|trans }}"
    >
        <i class="bi bi-box-arrow-in-left me-1"></i>{{ 'lend_borrow.return.button'|trans }}
    </button>
</div>
