<div {{ attributes }} class="card card-body p-2 shadow">
    <div style="max-width: 300px;">
        <select
            data-model="brand"
            id="brands-chart-filter"
            data-controller="symfony--ux-autocomplete--autocomplete"
            class="form-select"
        >
            {% for brandId, brandName in this.availableBrands %}
                <option value="{{ brandId }}">{{ brandName }}</option>
            {% endfor %}
        </select>
    </div>

    <div style="height: 250px;">
        {{ render_chart(this.chart, {'data-controller': 'time-chart'}) }}
    </div>
</div>
