<div {{ attributes }} class="card card-body p-2 shadow">
    <div class="d-flex flex-wrap justify-content-end filters">
        <select
            data-model="interval"
            class="form-select d-inline-block me-2"
            style="max-width: 100px;"
        >
            <option value="week">Per week</option>
            <option value="month">Per month</option>
        </select>

        <div style="width: 200px;">
            <select
                data-model="brand"
                data-controller="symfony--ux-autocomplete--autocomplete"
                class="form-select"
            >
                {% for brandId, brandName in this.availableBrands %}
                    <option value="{{ brandId }}">{{ brandName }}</option>
                {% endfor %}
            </select>
        </div>

    </div>

    <div style="height: 250px;">
        {{ render_chart(this.chart, {'data-controller': 'time-chart'}) }}
    </div>
</div>
