<div {{ attributes }}>
    <div
        data-controller="chart"
        data-chart-data-value="{{ this.chartData|json_encode }}"
        data-chart-type-value="line"
    >
        <canvas style="height: 250px;"></canvas>
    </div>
</div>
