<turbo-frame id="modal-frame">
    <div class="modal-header">
        <h5 class="modal-title">{{ 'rating.rate_your_transaction'|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        {{ include('rating/_rate_transaction_form.html.twig', {in_modal: true}) }}
    </div>
</turbo-frame>
