{% extends 'base.html.twig' %}

{% block title %}{{ 'rating.rate_transaction'|trans }}{% endblock %}

{% block content %}
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h1 class="h3 mb-4">{{ 'rating.rate_your_transaction'|trans }}</h1>

                <div class="card shadow-sm">
                    <div class="card-body">
                        {{ include('rating/_rate_transaction_form.html.twig', {in_modal: false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
